proguard-project.txt
!*.jar
!*.class
!AndroidClient/appcompat_v7/*
!AndroidClient/android-support-v7-appcompat/*
AndroidClient/DynamicGrid/bin
AndroidClient/DynamicGrid/gen
AndroidClient/pyLauncher/bin
AndroidClient/pyLauncher/gen
AndroidClient/tcPIp_Sockets/bin
AndroidClient/tcPIp_Sockets/gen
LinuxServer/tcPIp_Sockets/VisualGDBCache/tcPIp_Sockets-Debug/SourceCache.dat
jarlist.cache
AndroidClient/.metadata/.plugins
AndroidClient/.metadata/.lock
AndroidClient/.metadata/.log
AndroidClient/.metadata/version.ini
AndroidClient/pyLauncher/.metadata/.plugins
AndroidClient/pyLauncher/.metadata
